[submodule "src/shared/defguard-ui"]
	path = src/shared/defguard-ui
	url = "https://github.com/defguard/ui.git"
[submodule "src-tauri/proto"]
	path = src-tauri/proto
	url = "https://github.com/defguard/proto.git"
